*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/nbproject/private/
/dist/
/build/
/src/nbbener/weka2/build/
/src/nbbener/weka2/dist/
/src/nbbener/weka2/nbproject/private/
/src/NB/weka2/build/
/src/NB/weka2/dist/
/src/NB/weka2/nbproject/private/
/src/NaiveBayes/weka2/build/
/src/NaiveBayes/weka2/dist/
/src/NaiveBayes/weka2/nbproject/private/